USE [MFXB]
GO
/****** Object:  Table [dbo].[project]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[comment] [nvarchar](100) NULL,
	[availbale] [bit] NOT NULL,
 CONSTRAINT [PK_project] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[project] ([code], [name], [address], [comment], [availbale]) VALUES (N'A002', N'桂林苑', N'徐家汇001', N'dasdasd', 1)
INSERT [dbo].[project] ([code], [name], [address], [comment], [availbale]) VALUES (N'A003', N'粤绣小区', N'静安区平型关路', N'dsdsd', 1)
/****** Object:  Table [dbo].[jobgrade]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobgrade](
	[levelName] [nvarchar](50) NOT NULL,
	[xuLie] [nvarchar](50) NOT NULL,
	[baseSalary] [int] NOT NULL,
	[comment] [nvarchar](300) NULL,
 CONSTRAINT [PK_jobgrade] PRIMARY KEY CLUSTERED 
(
	[levelName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[jobgrade] ([levelName], [xuLie], [baseSalary], [comment]) VALUES (N'M2', N'高级营销经理', 3100, N'测试备注')
INSERT [dbo].[jobgrade] ([levelName], [xuLie], [baseSalary], [comment]) VALUES (N'Z2', N'业务员', 1500, N'业务员')
INSERT [dbo].[jobgrade] ([levelName], [xuLie], [baseSalary], [comment]) VALUES (N'总经理', N'总经理', 0, N'总经理级别')
/****** Object:  Table [dbo].[qttaskindex]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qttaskindex](
	[qtkey] [nvarchar](50) NOT NULL,
	[closing] [bit] NOT NULL,
	[rootqtdepartmentid] [bigint] NOT NULL,
 CONSTRAINT [PK_qttaskindex] PRIMARY KEY CLUSTERED 
(
	[qtkey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[qttaskindex] ([qtkey], [closing], [rootqtdepartmentid]) VALUES (N'2017-08', 0, 10001)
/****** Object:  Table [dbo].[dxduplicate]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dxduplicate](
	[jobnumber] [nvarchar](50) NOT NULL,
	[basicsalary] [float] NOT NULL,
	[dxkey] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [key_jobnumber] ON [dbo].[dxduplicate] 
(
	[dxkey] ASC,
	[jobnumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[dxduplicate] ([jobnumber], [basicsalary], [dxkey]) VALUES (N'ddddddd', 3100, N'2017-07')
INSERT [dbo].[dxduplicate] ([jobnumber], [basicsalary], [dxkey]) VALUES (N'FXB-WH-001', 1800, N'2017-07')
INSERT [dbo].[dxduplicate] ([jobnumber], [basicsalary], [dxkey]) VALUES (N'fxb-wh-002', 1800, N'2017-07')
/****** Object:  Table [dbo].[department]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[id] [bigint] IDENTITY(10000,1) NOT NULL,
	[nid] [bigint] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[owner] [nvarchar](50) NULL,
	[qtlevel] [int] NOT NULL,
 CONSTRAINT [PK_department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[department] ON
INSERT [dbo].[department] ([id], [nid], [name], [owner], [qtlevel]) VALUES (10001, 0, N'房小白', N'', 0)
INSERT [dbo].[department] ([id], [nid], [name], [owner], [qtlevel]) VALUES (10002, 10001, N'执行一部', N'', 4)
INSERT [dbo].[department] ([id], [nid], [name], [owner], [qtlevel]) VALUES (10003, 10001, N'执行二部', N'', 4)
SET IDENTITY_INSERT [dbo].[department] OFF
/****** Object:  Table [dbo].[qttaskorder]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qttaskorder](
	[id] [bigint] IDENTITY(100000,1) NOT NULL,
	[generatetime] [int] NOT NULL,
	[commissionamount] [float] NOT NULL,
	[customername] [nvarchar](50) NOT NULL,
	[projectcode] [nvarchar](50) NOT NULL,
	[roomnumber] [nvarchar](50) NOT NULL,
	[closingthedealmoney] [float] NOT NULL,
	[yxconsultantjobnumber] [nvarchar](50) NOT NULL,
	[yxqtdepartmentid] [bigint] NOT NULL,
	[kyfconsultanjobnumber] [nvarchar](50) NOT NULL,
	[kyfqtdepartmentid] [bigint] NOT NULL,
	[zc1jobnumber] [nvarchar](50) NOT NULL,
	[zc1qtdepartmentid] [bigint] NOT NULL,
	[zc2jobnumber] [nvarchar](50) NOT NULL,
	[zc2qtdepartmentid] [bigint] NOT NULL,
	[checkstate] [bit] NOT NULL,
	[checkpersonjobnumber] [nvarchar](50) NOT NULL,
	[checktime] [int] NOT NULL,
	[ifchargeback] [bit] NOT NULL,
	[cbjobnumber] [nvarchar](50) NOT NULL,
	[cbtime] [int] NOT NULL,
	[entrypersonjobnumber] [nvarchar](50) NOT NULL,
	[comment] [nvarchar](512) NOT NULL,
	[buytime] [int] NOT NULL,
	[customerphone] [nvarchar](50) NOT NULL,
	[customeridcard] [nvarchar](50) NOT NULL,
	[receipt] [nvarchar](50) NOT NULL,
	[roomarea] [float] NOT NULL,
	[contractstate] [nvarchar](50) NOT NULL,
	[paymentmethod] [nvarchar](50) NOT NULL,
	[loansmoney] [float] NOT NULL,
	[isreceivereward] [bit] NOT NULL,
	[qtkey] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_qttaskorder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[qttaskorder] ON
SET IDENTITY_INSERT [dbo].[qttaskorder] OFF
/****** Object:  Table [dbo].[qttaskemployee]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qttaskemployee](
	[jobnumber] [nvarchar](50) NOT NULL,
	[jobgradename] [nvarchar](50) NOT NULL,
	[departmentid] [bigint] NOT NULL,
	[qtlevel] [int] NOT NULL,
	[isowner] [bit] NOT NULL,
	[qtkey] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [key_jobnumber] ON [dbo].[qttaskemployee] 
(
	[qtkey] ASC,
	[jobnumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[qttaskemployee] ([jobnumber], [jobgradename], [departmentid], [qtlevel], [isowner], [qtkey]) VALUES (N'ddddddd', N'M2', 10011, 3, 1, N'2017-08')
INSERT [dbo].[qttaskemployee] ([jobnumber], [jobgradename], [departmentid], [qtlevel], [isowner], [qtkey]) VALUES (N'FXB-TEST', N'M2', 10040, 1, 0, N'2017-08')
INSERT [dbo].[qttaskemployee] ([jobnumber], [jobgradename], [departmentid], [qtlevel], [isowner], [qtkey]) VALUES (N'FXB-TEST2', N'Z2', 10038, 5, 0, N'2017-08')
/****** Object:  Table [dbo].[qttaskdepartment]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qttaskdepartment](
	[qtdepartmentid] [bigint] NOT NULL,
	[qtlevel] [int] NOT NULL,
	[ownerjobnumber] [nvarchar](50) NOT NULL,
	[qtdepartmentname] [nvarchar](50) NOT NULL,
	[parentdepartmentid] [bigint] NOT NULL,
	[needcompletetaskamount] [float] NOT NULL,
	[alreadycompletetaskamount] [float] NOT NULL,
	[qtkey] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [key_id] ON [dbo].[qttaskdepartment] 
(
	[qtkey] ASC,
	[qtdepartmentid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[qttaskdepartment] ([qtdepartmentid], [qtlevel], [ownerjobnumber], [qtdepartmentname], [parentdepartmentid], [needcompletetaskamount], [alreadycompletetaskamount], [qtkey]) VALUES (10001, 0, N'', N'房小白', 0, 60000, 0, N'2017-08')
INSERT [dbo].[qttaskdepartment] ([qtdepartmentid], [qtlevel], [ownerjobnumber], [qtdepartmentname], [parentdepartmentid], [needcompletetaskamount], [alreadycompletetaskamount], [qtkey]) VALUES (10002, 4, N'', N'执行一部', 10001, 20000, 0, N'2017-08')
INSERT [dbo].[qttaskdepartment] ([qtdepartmentid], [qtlevel], [ownerjobnumber], [qtdepartmentname], [parentdepartmentid], [needcompletetaskamount], [alreadycompletetaskamount], [qtkey]) VALUES (10003, 4, N'fxb-wh-002', N'执行二部', 10001, 30000, 0, N'2017-08')
/****** Object:  Table [dbo].[employee]    Script Date: 08/29/2017 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[gonghao] [nvarchar](50) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[qtlevel] [int] NOT NULL,
	[departmentId] [bigint] NOT NULL,
	[isOwner] [bit] NOT NULL,
	[zhiji] [nvarchar](50) NOT NULL,
	[dianhua] [nvarchar](50) NOT NULL,
	[ruzhiTime] [int] NOT NULL,
	[jobState] [bit] NOT NULL,
	[lizhiTime] [int] NOT NULL,
	[comment] [nvarchar](200) NOT NULL,
	[shenfenzheng] [nvarchar](50) NOT NULL,
	[shengriTime] [int] NOT NULL,
	[sex] [bit] NOT NULL,
	[mingzujiguan] [nvarchar](50) NOT NULL,
	[juzhuaddress] [nvarchar](50) NOT NULL,
	[xueli] [nvarchar](50) NOT NULL,
	[biyexuexiao] [nvarchar](50) NOT NULL,
	[zhuanye] [nvarchar](50) NOT NULL,
	[jjlianxiren] [nvarchar](50) NOT NULL,
	[jjdianhua] [nvarchar](50) NOT NULL,
	[jieshaoren] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[gonghao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[employee] ([gonghao], [name], [qtlevel], [departmentId], [isOwner], [zhiji], [dianhua], [ruzhiTime], [jobState], [lizhiTime], [comment], [shenfenzheng], [shengriTime], [sex], [mingzujiguan], [juzhuaddress], [xueli], [biyexuexiao], [zhuanye], [jjlianxiren], [jjdianhua], [jieshaoren]) VALUES (N'ddddddd', N'ddddd', 3, 10011, 1, N'M2', N'13816294107', 1503468395, 1, 1503468395, N'', N'', 1503468395, 0, N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[employee] ([gonghao], [name], [qtlevel], [departmentId], [isOwner], [zhiji], [dianhua], [ruzhiTime], [jobState], [lizhiTime], [comment], [shenfenzheng], [shengriTime], [sex], [mingzujiguan], [juzhuaddress], [xueli], [biyexuexiao], [zhuanye], [jjlianxiren], [jjdianhua], [jieshaoren]) VALUES (N'FXB-TEST', N'樊哥', 1, 10040, 0, N'M2', N'13816294107', 1503633978, 1, 1503633978, N'', N'', 1503633978, 0, N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[employee] ([gonghao], [name], [qtlevel], [departmentId], [isOwner], [zhiji], [dianhua], [ruzhiTime], [jobState], [lizhiTime], [comment], [shenfenzheng], [shengriTime], [sex], [mingzujiguan], [juzhuaddress], [xueli], [biyexuexiao], [zhuanye], [jjlianxiren], [jjdianhua], [jieshaoren]) VALUES (N'FXB-TEST2', N'小万', 5, 10038, 0, N'Z2', N'133331133', 1503641894, 1, 1503641894, N'', N'', 1503641894, 0, N'', N'', N'', N'', N'', N'', N'', N'')
/****** Object:  ForeignKey [FK_employee_department]    Script Date: 08/29/2017 18:28:33 ******/
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_department] FOREIGN KEY([departmentId])
REFERENCES [dbo].[department] ([id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK_employee_department]
GO
/****** Object:  ForeignKey [FK_employee_jobgrade]    Script Date: 08/29/2017 18:28:33 ******/
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_jobgrade] FOREIGN KEY([zhiji])
REFERENCES [dbo].[jobgrade] ([levelName])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK_employee_jobgrade]
GO
/****** Object:  ForeignKey [FK_qttaskdepartment_qttaskindex]    Script Date: 08/29/2017 18:28:33 ******/
ALTER TABLE [dbo].[qttaskdepartment]  WITH CHECK ADD  CONSTRAINT [FK_qttaskdepartment_qttaskindex] FOREIGN KEY([qtkey])
REFERENCES [dbo].[qttaskindex] ([qtkey])
GO
ALTER TABLE [dbo].[qttaskdepartment] CHECK CONSTRAINT [FK_qttaskdepartment_qttaskindex]
GO
/****** Object:  ForeignKey [FK_qttaskemployee_jobgrade]    Script Date: 08/29/2017 18:28:33 ******/
ALTER TABLE [dbo].[qttaskemployee]  WITH CHECK ADD  CONSTRAINT [FK_qttaskemployee_jobgrade] FOREIGN KEY([jobgradename])
REFERENCES [dbo].[jobgrade] ([levelName])
GO
ALTER TABLE [dbo].[qttaskemployee] CHECK CONSTRAINT [FK_qttaskemployee_jobgrade]
GO
/****** Object:  ForeignKey [FK_qttaskemployee_qttaskindex]    Script Date: 08/29/2017 18:28:33 ******/
ALTER TABLE [dbo].[qttaskemployee]  WITH CHECK ADD  CONSTRAINT [FK_qttaskemployee_qttaskindex] FOREIGN KEY([qtkey])
REFERENCES [dbo].[qttaskindex] ([qtkey])
GO
ALTER TABLE [dbo].[qttaskemployee] CHECK CONSTRAINT [FK_qttaskemployee_qttaskindex]
GO
/****** Object:  ForeignKey [FK_qttaskorder_project]    Script Date: 08/29/2017 18:28:33 ******/
ALTER TABLE [dbo].[qttaskorder]  WITH CHECK ADD  CONSTRAINT [FK_qttaskorder_project] FOREIGN KEY([projectcode])
REFERENCES [dbo].[project] ([code])
GO
ALTER TABLE [dbo].[qttaskorder] CHECK CONSTRAINT [FK_qttaskorder_project]
GO
/****** Object:  ForeignKey [FK_qttaskorder_qttaskindex]    Script Date: 08/29/2017 18:28:33 ******/
ALTER TABLE [dbo].[qttaskorder]  WITH CHECK ADD  CONSTRAINT [FK_qttaskorder_qttaskindex] FOREIGN KEY([qtkey])
REFERENCES [dbo].[qttaskindex] ([qtkey])
GO
ALTER TABLE [dbo].[qttaskorder] CHECK CONSTRAINT [FK_qttaskorder_qttaskindex]
GO
